<html>
    <head>
        <meta charset="UTF-8">
        <title>게시판 프로젝트</title>
        <link rel="stylesheet" href="/css/common.css">
    </head>
    <body>
        {{{body}}} {{!-- 중괄호 3개로 감싸야됨 --}}
    </body>
</html>